body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}

p {
    color: #696969;
    text-align: justify;
}

.btn {
    text-decoration: none;
    padding: 10px 40px;
    background-image: linear-gradient(45deg, lightsalmon, tomato);
    color: #fff;
    font-weight: 700;
    border-radius: 5px;
}

.color-cng {
    color: orange;
}

.flexible-area {
    display: flex;
}

.banner {

    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    margin-bottom: 100px;
}

.half {
    width: 50%;
    padding: 0 5%;
    text-align: justify;
}


.half img {
    width: 90%;
}

.dream-big {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.half1 {
    width: 50%;
    padding: 0 5%;
}

.half2 {
    width: 50%;
    padding: 0 5%;
    margin: 0 50px 0 0;
}

.half1 img {
    width: 100%;
}

.experiences {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    margin-bottom: 100px;
}

.experiences h1 {
    text-align: center;
}

.experiences .flexible-area .half {
    box-shadow: 5px 5px 5px 5px gray;
    margin: 30px;
    padding: 20px 10px 80px 35px;
    border-radius: 10px;
}

.experiences .flexible-area .half h2 {
    font-size: 35px;
}

#full-web {
    border-left: 7px solid;
    border-image: linear-gradient(lightsalmon, tomato);
    border-image-slice: 1;
}

#baby-web {
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}

footer p {
    text-align: center;
}